body {
  background-color: #f8f9fa;
}

section#jumbotron {
  text-align: center;
}

section#about {
  background-color: #e2edff;
  text-align: justify;
}

section#contact {
  background-color: #f8f9fa;
}
